
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Prata&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
    overflow-x: hidden;

}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

.hover-underline-animation-reverse {
  display: inline-block;
  position: relative;
}

.hover-underline-animation-reverse::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #a9def9;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-reverse:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
}

